$primary-color:#0000FF;
$secondary-color:#FF0000;
$danger:#dc3545;
$warning:#ffc107;
$info:#17a2b8;

$bg-primary-color:#007bff;
$bg-succss-color:#28a745;
$bg-danger-color:#dc3545;

// $bg-primary-hover-color:#6e9ac9;
// $bg-succss-hover-color:#6fa67c;
// $bg-danger-hover-color:#6f373c;

$dark:#000;
$light:#fff;


//save as dsa model
// save keypare & value
$colors:(
    "primary":#007bff,
    "secondary":#6c757d,
    "info":#17a2b8
);

@debug map-get($colors, "$primary" );
@debug map-has-key($colors, "$primary" );
@debug map-remove($colors, "$primary" );
@debug map-merge($colors, ("cyan":#17a2b8));

@each $key,$val in $colors{
    .text-#{$key}{
        color:$val;
    }
    .bg-#{key}{
        background-color:$val;
    }
}