
.footer{
    background-color: rgba(0, 0, 0,0.8);
    color: #fff;
    position: sticky;
    bottom: 0;
    padding: 15px;
    margin-top: 10px;
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}