<div class="contact">
     <h3><b><i class='bx bxs-phone'></i>&nbsp;&nbsp;&nbsp;Phone Number </b></h3> 
     <h4><b>0764794944</b></h4><br>
     <h3><b><i class='bx bxl-gmail'></i>&nbsp;&nbsp;&nbsp;E-Mail </b></h3>
     <h4><b>mohamedmusaraf79gmail.com</b></h4><br>
     <h3><b><i class='bx bxs-home'></i>&nbsp;&nbsp;&nbsp;Address</b></h3>
     <h4><b>Nirottumunai,<br>Vellamanal,<br>Chinabay,<br>Trincomalee</b></h4>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1972.9092269612725!2d81.19125842743905!3d8.517000574634313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afba2f613bb34d9%3A0x38a15ec033dd397a!2sWellaimanal!5e0!3m2!1sen!2slk!4v1699964796263!5m2!1sen!2slk"
     width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
