.card{
    width: 250px;
    height:200px;
    background: #e5e5e5 !important;
    border: #e5e5e5;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px  10px rgba(0,0,0,.3) ;
}