<!--interpolation-->
<h1>{{ message }}</h1>
<h2>student name is {{ studentName }}</h2>
<h2>my son name is {{ studentName }}</h2>

<!--property binding-->
<img [src]="imageUrl" width="500px" height="300px">


<!--event binding-->
<br>
<input type="text" #mesage>
<button (click)="showmessage(mesage.value)">click</button>
<br>
<!--attibute binding-->
<button [attr.disabled]="isDisable">Log in</button>&nbsp;
<button [disabled]="isDisable">Log out</button>



<input type="text" #mesage>
<button (click)="showmessage(mesage.value)">click</button>

<router-outlet></router-outlet>